@page "/delete"

<form action ="https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/delete?nim=72200434"  method="post">
  <h3 class="h3-add">Anda Yakin Ingin Menghapus Data?</h3>
        <button type="submit" class="btn btn-primary">Hapus</button>  
</form>